**/**/node_modules

**/**/.env
**/**/.env.development.local
**/**/.env.test.local
**/**/.env.production.local
**/**/.env.local
**/**/.env.example

**/yarn.lock
**/**/yarn.lock
/web/yarn.lock
/backend/yarn.lock